{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container-sm d-flex justify-content-center">
        <div class="col-6 ml-10">
            <br>
            <br>
            <br>
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="bloc">
                        <h1>Inscription</h1>
                    </div>
                    <div class="bloc ">
                        <p>Déjà inscrit ?</p>

                        <a class="justify-content-end d-flex" href="{{ path('app_login') }}">S'identifier</a>
                    </div>
                </div>
                <div class="card-body">
                    {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.username, { label : 'Pseudo *'}) }}
                    {{ form_row(registrationForm.plainPassword, { label: 'Mot de passe *' }) }}
                    <div class="row">
                        <div class="col">
                            {{ form_row(registrationForm.email, {label: 'Email' }) }}
                        </div>
                        <div class="col">
                            {{ form_row(registrationForm.telephone, { label: 'Téléphone' }) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_row(registrationForm.first_name, { label: 'Prénom' }) }}
                        </div>
                        <div class="col">
                            {{ form_row(registrationForm.last_name, { label: 'Nom' }) }}
                        </div>
                        <div class="col">
                            {{ form_row(registrationForm.gender, { label: 'Genre' }) }}
                        </div>
                    </div>
                    {{ form_row(registrationForm.birthday, { label: 'Anniversaire' }) }}
                    <div class="bloc d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary mt-3">Créer un compte</button>
                    </div>

                    {{ form_end(registrationForm) }}
                </div>
            </div>

            <br>
            <br>



        </div>
    </div>



{% endblock %}
