{% extends "base.html.twig" %}

{% block body %}
    {% include "menu.html.twig" %}

    <div class="container-sm">
        <br>
        <br>

        <h1>Modifie ton message {{ id }}</h1>

        {{ form(postForm) }}
    </div>


{% endblock %}