
{% extends "base.html.twig" %}

{% block title %}
    Homepage
{% endblock %}

{% block body %}
    {% include "menu.html.twig" %}

    <br>
    <br>
    <br>
    <div class="container-sm">
        <h1>Bienvenue sur la page d'accueil</h1>

        <br>
        <br>


        <p>
            {% if name is not empty %}
                Salut {{ name }} !
            {% else %}
                Salut visiteur anonyme !
            {% endif %}
        </p>

        <br>
        <br>

        <h3>Posts les plus récents</h3>
        <ul class="list-group">
            {% for post in recentPosts %}
                <li class="mb-3">
                    <div class="card">
                        <div class="card-header">
                            #{{ post.id }} by <strong>{{ post.author }}</strong>
                        </div>

                        <div class="card-body">
                            <p class="card-text">
                                {{ post.content }}
                            </p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>



{% endblock %}
