{% extends 'base.html.twig' %}

{% block title %}Liste des posts{% endblock %}

{% block body %}
    {% include "menu.html.twig" %}

    <br>
    <br>

    <div class="container-sm d-flex">
        <ul class="list-group col-6 list-unstyled">
            <h1>Flux d'actualité</h1>

            {% for parent in parents %}
                <li class="mb-3">
                    <div class="card">
                        <div class="card-header" id="{{ parent.id }}">
                            {% include "avatar.html.twig" with { username: parent.author} %}
                            #{{ parent.id }} by <strong><a href="{{ path('userprofil', {user:parent.author}) }}">{{ parent.author }}</a></strong>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                {{ parent.content }}
                            </p>
                            <div class="container d-flex justify-content-end">
                                <a class="btn btn-warning fas fa-comment-alt" href="{{ path('app_comment', {id:parent.id}) }}"></a>
                                <div class="text-warning ms-2">({{ parent.comment | length }})</div>
                                {% if app.user.username == parent.author %}
                                <a href="{{ path('formulaire-update', {id:parent.id}) }}" class="btn btn-success ms-2 btn-sm fas fa-pen "></a>
                                {% endif %}
                                <a data-like="{{ parent.id }}" href="{{ path('app_like', {id:parent.id}) }}" class="likes">
                                    {% if parent.lovers.contains(app.user) %}
                                        <i class="btn btn-danger btn-sm fas fa-heart ms-2"></i>
                                    {% else %}
                                        <i class="btn text-danger border-danger btn-sm fas fa-heart ms-2"></i>
                                    {% endif %}
                                </a>

                                <div class="text-danger ms-2">{{ parent.lovers | length }}</div>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}

{#            {% set off = 5 %}#}
{#            {% set currentpath = app.request.get('_route') %}#}
{#            {% set currentPath = path(app.request.attributes.get('_route'),#}
{#                app.request.attributes.get('_route_params')) %}#}
{#            <div class="d-flex justify-content-center">#}
{#                <a class="btn btn-primary d-flex ms-2" href="{{ path(app.request.get('_route'), {offset:currentPath+5}) }}">Page suivante</a>#}
{#            </div>#}
        </ul>


        <div class="space col-1"></div>

        <div class="contain col-4">
            {% if app.user is not empty %}
                <div class="card">
                    <div class="card-header">
                        <h3>Post ton message !</h3>
                    </div>
                    <div class="card-header">
                        {{ form(postForm) }}
                    </div>
                </div>
            {% else %}
{#                {% include 'login.html.twig' %}#}
            {% endif %}

            <br>
            <br>
            <h3>Posts les plus récents</h3>
            <ul class="list-group list-unstyled">
                {% for post in recentPosts %}
                    <li class="mb-3">
                        <div class="card">
                            <div class="card-header">
                                {% include "avatar.html.twig" with { username: post.author} %}
                                #{{ post.id }} by <a href="{{ path('userprofil', {user:post.author}) }}"><strong>{{ post.author }}</strong></a>
                            </div>

                            <div class="card-body">
                                <p class="card-text">
                                    {{ post.content }}
                                </p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>




{% endblock %}
